html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(193, 193, 82);
}

.heading-div {
  background-color: rgb(0, 0, 0);
  width: 100vw;
  padding: 20px 0;
  box-sizing: border-box;
}

.heading-div h1,
.heading-div h2 {
  margin: 0;
  margin-left: 20px;
  color: yellow;
}
